
name: RU WF for .NET

on:
  workflow_call:
    inputs:
      runs-on:
        description: Platform to execute on
        type: string
        default: ubuntu-latest
        
      dotnet-version:
        description: Version of dotnet to use
        type: string
        default: 8.0.x
      
      project-folder:
        description: The folder containing the project to build
        type: string
        default: .
        
      run-tests:
        description: Run tests
        type: boolean
        default: true
      
      publish-configuration:
        description: Configuration to publish
        type: string
        default: Release
        
      artifact-name:
        description: Name of the artifact to upload
        type: string
        default: drop
    
jobs:
  build:
    name: Build dotnet app
    
    runs-on: ${{ inputs.runs-on }}
    defaults:
      run:
        working-directory: ${{ inputs.project-folder }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Super Linter Code Base
        uses: super-linter/super-linter@v6.7.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Build Project
        uses: ./.github/actions/Build
   
      - name: Test Project
        uses: ./.github/actions/test
      
      - name: Run Application
        uses: ./.github/actions/run
        
      - name: Publish
        run: dotnet publish -c ${{ inputs.publish-configuration }} -o wdrop
        
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2.2.2
        with:
          name: ${{ inputs.artifact-name }}
          path: ${{ inputs.project-folder }}/wdrop/**
          if-no-files-found: error
