
name: Build application

on:
  push:
    branches:
    - main

jobs:
  build-ubuntu:
    name: Build app on Ubuntu
    uses: missAnkita/Reusable-Workflows/.github/workflows/dotnet-reusable-workflow.yml@main
    with:
      runs-on: ubuntu-latest
      run-tests: false
      project-folder: src
      artifact-name: drop-ubuntu

